* {
  font-family: '"Noto Sans Thai", sans-serif';
  padding: 0;
  margin: 0;
}

.container_head_search {
  background-image: url(../src/assets/images/bg_main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25rem;
  padding-top: 5px;
  padding-bottom: 120px;
}

.footer_box {
  background-color: #07133c;
  position: fixed;
  padding-top: 15px;
  color: #fff;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
  margin: 0;
  z-index: 1;
}

.container_resident_residregister {
  background-image: url(../src/assets/images/bg_container_residentregisterpage2.jpeg);
}

@media (max-width: 1550px) {
  .container_head_search {
    height: 15rem;
  }
}

@media (max-width: 1460px) {
  .container_head_search {
    height: 18rem;
  }
}

@media (max-width: 1400px) {
  .container_head_search {
    height: 15rem;
  }
}
